.git/
.gradle/
.idea/
.settings/
/bin/
/build/
/node_modules/
/nodejs/
/resources/
/target/
.classpath
.project
.tomcatplugin
*.iml
*.log
gradle/
output/
work/
WebContent/WEB-INF/classes/
WebContent/META-INF/
referenceFile/
