<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>HandlerManager</servlet-name>
        <servlet-class>servlet.handler.HandlerManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HandlerManager</servlet-name>
        <url-pattern>/HandlerManager</url-pattern>
    </servlet-mapping>

    <!-- The Usual Welcome File List -->
    <welcome-file-list>
        <welcome-file>target/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>